body {
  margin: 0;
  background: #060B17;
}

.container {
  height: auto; /*viewport height*/
  justify-content: space-between;
  padding-top: 0%;
  position: relative;

}

.title {
  position: absolute;
  font-family: 'futura';
  font-weight: bolder;
  font-size: 8em;
  margin-top: 60px;
  margin-left: 60px;;
  z-index: 3;
  color: #800000;
  line-height: 150px;
}

.close-icon {
  position: fixed;
  top: 70px;
  right: 70px;
  z-index: 4;
  opacity: 20%;
}

.main-image {
  padding-bottom: 15%;

}

.body-image-gif{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  justify-content: space-between;
}

.body-image {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  justify-content: space-between;
}

.scenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding-bottom: 80px;
}

.scenes-img {
  width: 400px;
  height: auto;
}

.image-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  justify-content: space-between;
}

.index-information {
  position: absolute;
  margin-top : 600px;
  margin-left: 70px;
  z-index: 4;
  font-weight: bold;
}

p0 {
  color: #800000;
  font-size: 0.95em;
  font-family: 'futura';
}

.container-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 400px;
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;

  font-family: 'futura';
  font-size: 1.1em;
  text-align: left; /* 본문 글씨 정렬 */
}

p1 {
  color: #A9A9A9;
  font-weight: lighter;
}

h2 {
  color: #C0C0C0;
  font-family: 'futura';
  padding-bottom: 15px;
}


a:link {
  color: #6800A0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #6800A0;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #007F00;
  background-color: transparent;
  text-decoration: underline;
}

/*--------------BOTTOM--------------*/
.BOTTOM {
  position: absolute;
  margin-top: 200px;
  left: 0;
  right: 0;

  font-family: 'futura';
}

/*--------------home으로 돌아가기--------------*/
.item-backtohome{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

/*--------------저작권 표기--------------*/
.item-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #800000;
  font-size: 0.8em;
  margin-bottom: 50px;
}

p2, p4 {
  color: #800000;
  font-size: 12px;
}

p3 {
  color: #800000;
  font-size: 20px;
  font-family: 'futura';
  font-weight: bold;
}
